<div class="component home center">
  <div class="login">
    <img src="assets/icons/512.png" alt="Pokemon Master Trainer Web">
    <div class="modal bit">

      <form class="form bit-box" [formGroup]="options">
        <mat-form-field>
          <input matInput placeholder="username or email" required autocomplete="username">
        </mat-form-field>

        <mat-form-field>
          <mat-label>password</mat-label>
          <input type="password" matInput placeholder="password" autocomplete="current-password">
        </mat-form-field>

        <button mat-button>Click me!</button>

      </form>


    </div>
  </div>
</div>
